@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Book>;
<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Popular Books</h2>
                </div>
                <div class="tab-content">

                    <div id="business" data-tab-content class="active">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <a href="product/@item.Id">
                                            <img src="@Url.Content("~/Image/" + item.Thumb)" alt="product-image important-height-image" />
                                            </a>
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>@item.Title</h3>
                                            <div class="item-price">$@item.Price</div>
                                        </figcaption>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product__pagination">
                        @Html.PagedListPager(Model,page=>Url.Action("Index",new {page=page}))
                        </div>
                    </div>
                    </div>
               
    </div>
</section>

